<article class="product-item">
  <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
  <div class="product-item-content">
    <h2><%= product.title %></h2>
    <div class="produnt-item-actions">
      <a class="btn btn-alt" href="/admin/products/<%= product.id %>"
        >View & Edit</a
      >
      <form action="/admin/products/<%= product.id %>/delete?_csrf=<%= locals.csrfToken %>" method="POST">
        <button class="btn btn-alt">Delete</button>
      </form>
    </div>
  </div>
</article>
